@import '~antd/dist/antd.css';
@import '~react-day-picker/lib/style.css';
@import '~easymde/dist/easymde.min.css';

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(236, 236, 236);
}

::-webkit-scrollbar {
  visibility: hidden;
}

.DayPicker-wrapper,
.DayPicker-Day,
.DayPicker-NavButton {
  outline: none;
}

.DayPicker-Caption {
  color: #fff;
}

.DayPicker-Day {
  color: #8b9898;
  border-radius: 0;
  transition: all 0.3s;
}

.DayPicker-Day--outside {
  color: #181d1d;
  background-color: rgba(128, 128, 128, 0.1);
}

.DayPicker-Day--today {
  font-weight: normal;
  background-color: #44ad63;
  color: #fff;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  color: #ffc107;
  background-color: rgba(255, 253, 238, 0.3);
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
  background-color: rgba(255, 253, 238, 0.3);
}

.DayPicker:not(.DayPicker--interactionDisabled)
  .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
  color: #181d1d;
}

.ant-list-item-meta-title {
  color: #fff;
}

.ant-list-item {
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 8px;
  transition: background 0.3s;
}

.ant-list-item-actived {
  background-color: rgba(178, 228, 79, 0.5);
}

.ant-list-item:hover {
  background: rgba(178, 228, 79, 0.5);
  cursor: pointer;
}

.ant-badge-status-day {
  position: absolute;
  bottom: -12px;
  left: 9px;
}

.ant-badge-status-dot {
  width: 4px;
  height: 4px;
}

.ant-table {
  color: rgb(236, 236, 236);
}

.ant-table-tbody > tr > td {
  border-bottom: 1px solid rgba(255, 253, 238, 0.2);
}

.ant-table-tbody > tr.ant-table-row:hover > td,
.ant-table-tbody > tr.ant-table-row-selected > td {
  background-color: #272b31;
  color: rgb(236, 236, 236);
  border-bottom: 1px solid rgba(255, 253, 238, 0.2);
}

.ant-table-row-selected {
  color: #272b31;
}

.ant-table,
.ant-checkbox-inner,
.ant-table-row-expand-icon,
tr.ant-table-expanded-row > td,
tr.ant-table-expanded-row:hover > td,
.ant-table-tbody > tr.ant-table-placeholder:hover > td {
  background-color: #272b31;
}

.ant-table-tbody > tr.ant-table-placeholder > td {
  border-bottom: 0px;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner,
.ant-checkbox-checked .ant-checkbox-inner {
  border-color: #44ad63;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #44ad63;
}

.ant-checkbox-inner::after {
  top: 44%;
  left: 16%;
}

.ant-checkbox-checked::after {
  border-color: #44ad63;
}

.ant-page-header-heading-title {
  color: rgb(236, 236, 236);
}

.ant-page-header-heading-sub-title {
  color: rgba(236, 236, 236, 0.45);
}

.ant-input {
  background-color: rgba(255, 253, 238, 0.1);
  border-color: rgba(255, 253, 238, 0.1);
  color: #fff;
}

.ant-btn:hover,
.ant-btn:focus {
  border-color: #40a9ff !important;
  background-color: rgba(255, 253, 238, 0.2) !important;
}

.ant-input-group-addon,
.ant-input-search-button {
  background-color: rgba(255, 253, 238, 0.1);
  border-color: rgba(255, 253, 238, 0.1);
}

.anticon-search {
  color: rgb(236, 236, 236);
}

.EasyMDEContainer > .CodeMirror,
.EasyMDEContainer > .editor-toolbar {
  background-color: rgba(255, 253, 238, 0.1);
  color: rgb(236, 236, 236);
}

.CodeMirror-cursor {
  color: rgb(236, 236, 236);
  border-color: rgb(236, 236, 236);
}

.editor-toolbar button.active,
.editor-toolbar button:hover i {
  color: #272b31;
}

.CodeMirror-fullscreen,
.editor-toolbar.fullscreen,
.editor-toolbar.fullscreen::before,
.editor-toolbar.fullscreen::after {
  background: #272b31 !important;
}

.CodeMirror-fullscreen {
  border: 0px !important;
  border-top: 1px solid rgba(255, 253, 238, 0.2) !important;
}

.editor-preview {
  background-color: #272b31 !important;
}

.editor-preview-side {
  border: 0px !important;
  border-top: 1px solid rgba(255, 253, 238, 0.2) !important;
  border-left: 1px solid rgba(255, 253, 238, 0.2) !important;
}

.editor-preview-active {
  padding: 14px !important;
}
